@charset"utf8";

.texto-form p{
    width: 800px;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}
form{
    width: 800px;
    max-width: 80%;
    margin: 10px auto;
    padding: 10px;
}
fieldset{
    border: solid #868686;
    margin: auto;
    margin-bottom: 10px;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
}
label{
    display: block;
    /*width: 100px;*/
    text-align: center;
    margin: auto;
    color: black;
}
input,textarea{
    display: block;
    margin: auto;
    padding: 5px;
    width: 250px;
    border: solid #868686;
    color: #8b8a8a;
}
textarea{
    width: 300px;
    height: 200px;
    max-width: 100%;
    margin: auto;
}
button{
    padding: 10px 50px;
    display: block;
    margin: 10px auto;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: solid #000000;
    box-shadow: 0px 0px 10px #000000;
}
button:hover, button:focus{
    color: #ffffff;
    background-color: #000000;
    border: solid #ffffff;
    box-shadow: 0px 0px 10px #000000;
    transform: scale(1.1);
    transition: 0.8s;
}